*{
    margin: 0;padding: 0; 
       font-family: "SofiaProRegular",Arial,Rockwell,Georgia,Times New Roman;font-size: 15px;
  letter-spacing: .025px;
  line-height: 18px;
  box-sizing: border-box;
  font-size: 14px;
  }
  .wrapper{
      margin-top: 20px;
  }

.signcontainer{
    width: 100%;
    max-width: 1100px;
     min-width: 320px;
    margin: 0 auto;
    padding-top: 50px;
  }
  a{
    text-align: center;
    color: #6d6d6d;
   font-size: 14px;
   letter-spacing: .025px;
   line-height: 18px;text-decoration: none;
}
.sglogImg img{
    width: 130px;
}
.signbody{
    width: 100%;
    max-width: 500px;
     min-width: 320px;
    margin: 0 auto;
    padding-top: 50px;
}
.comprf{
    background: #f4faf8;
    padding: 24px 25px;
    text-align: center;
}
.comprf a , .signterms a{
    text-decoration: underline;
    color: rgb(12, 127, 131);
}
.sigjon{
    padding-top: 50px;  
    color: #767676 !important;
    font-family: "SofiaProBold",Arial,Rockwell,Georgia,Times New Roman;
    font-size: 18px;
    font-weight: bold;
    border-width: 0 0 2px 0;
    border-bottom: 2px solid #f1f1f1;
    max-width: 230px;
    /* text-align: center; */
margin: 0 auto;
}

.sigjon a{
    border-color: #eee #eee #ddd; 
       margin:10px; 
    text-align: center;
    /* float: left; */
    margin-bottom: -1px;

    padding: 20px;
}
.siginInput input{
    padding: 22px 20px 15px;
    border-radius: 4px;
    align-self: stretch;
    margin: 1px 1px 0 0;
    position: relative;
    background: #fff;
    width: 34.5rem;
    border: 1px solid #6d6d6d;
    font-size: 16px;
    font-weight: 500;
}
.sigupInput input{
    padding: 22px 20px 15px;
    border-radius: 4px;
    align-self: stretch;
    margin: 1px 1px 0 0;
    position: relative;
    background: #fff;
    width: 34.5rem;
    border: 1px solid #6d6d6d;
    font-size: 16px;
    font-weight: 500;
}
.inputfname input{
    padding: 22px 20px 15px;
    border-radius: 4px;
    align-self: stretch;
    margin: 1px 1px 0 0;
    position: relative;
    background: #fff;
    width: 17rem;
    height: auto;

}
#sgnin{
    margin-top: 20px;
}
.inputbirt{
padding-top: 20px;
}
.inputbirt p{
    font-family: "Sentinel-Semibold",Arial,Rockwell,Georgia,Times New Roman;
    font-size: 14px;
    color: #262626;
    letter-spacing: 0;
    padding-top: 13px;
}
.inputbirt select{
    padding: 22px 20px 15px;
    border-radius: 4px;
    align-self: stretch;
    margin: 1px 1px 0 0;
    position: relative;
    background: #fff;
    width: 17rem;
    }
    .checkopt, .signterms{
        display: flex;padding-top: 10px;align-items: center;text-align: center;
    }
    .checkopt input, .signterms input{
        width: 2rem;
        /* position: absolute; */
        /* top: 0;
        left: 0; */
        height: 24px;
        /* width: 24px; */
        border: 1px solid #6d6d6d;
        border-radius: 4px;
    }
    .checkopt input:checked{
        background-color: #196d79;
        border: 1px solid #196d79;
    }
    .checkopt p, .signterms p {
        /* display: inline-block; */
    /* padding-bottom: 12px; */
    font-family: "SofiaProRegular",Arial,Rockwell,Georgia,Times New Roman;
    font-size: 15px;
    letter-spacing: 0;
    color: #262626;
}
#signsmltxt{
    font-family: "SofiaProRegular",Arial,Rockwell,Georgia,Times New Roman;
    font-size: 15px;
    letter-spacing: 0;
    color: #777272;
    font-size: 12px; 
    padding-left: 2px; 
    padding-top: 20px;
}
.signzipcode{
    padding-top: 20px;
}
.signbody button{
    background-color: #0f4149;
    color: #fff;
    width: 100%;
    height: auto;
    font-family: "SofiaProRegular",Arial,Rockwell,Georgia,Times New Roman;
    font-weight: bold;
    font-size: 14px;
    padding: 16px 7px !important;
    line-height: 14px;
    letter-spacing: 1.25px;
    border: 1px solid #196d79;height: 63px;padding-top: 21px;
    margin-top: 30px;
}
.signbody button:hover{
    background-color: #1b8a9b;border: none;
   
}
.signinrem{
    display: flex;justify-content: space-between; width: 34rem;
}