
    <section class="storeNav">
     
      <ul>
        <li style="display: inline-flex;">
          <p id="mystoretxt" style="font-weight: 700;">My Store:</p><select name="" id="mystore">
            <option value="">Select Your Store</option>
            <option value="">Nigeria</option>
            <option value="">Nigeria</option>
          </select>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/sign"><img src="/assets/contact-icon.png" alt=""> Sign In</a>
        </li>
        <li>
          <a href="#"><img src="/assets/whish-icon.png" alt=""> Wish List</a>
        </li>
        <li>
          <a href="#"><img src="/assets/cart-icon.png" alt=""> Cart</a>
        </li>
      </ul>
     
    </section>
    <section class="worldlogo">
      <div class="logo logup">
        <a href="/"><img src="/assets/logoWMK.png" alt="worldlogo"></a>
      </div>
      <div class=" logup">
        <input type="text" name="name" id="serachbox" placeholder="Discover Something..." onclick="widthLength()"
          onblur="widthLengthSm()">
      </div>
    </section>
    <section class="navDropD">
      <ul>
        <li><a href="/furniture">Furniture</a></li>
        <li><a href="/outdoors">Outdoors</a></li>
        <li><a href="/rugs">Rugs</a></li>
        <li><a href="#">Decor & Lighting</a></li>
        <li><a href="#">Bed & Bath</a></li>
        <li><a href="#">Kitchen & Dinnerware</a></li>
        <li><a href="#">Food & Drink</a></li>
        <li><a href="#">Furniture</a></li>
        <li><a href="#">Jewelry & Clothing</a></li>
        <li><a href="#">Gifts</a></li>
        <li><a href="#">Holidays</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Inspiration</a></li>
      </ul>

    </section>
    <section class="navmem">
      <div>
        <p id="mem">Members Save 15% On Curbside Pick-Up Orders</p>
      </div>
      <div class="memlink">
        <a href="#">Jion Now</a> <a href="#">Details</a>
      </div>
    </section>

    <section class="extraimg">
      <img src="/assets/body-lg.png" alt="">
    </section>
    <section class="fresfall">
      <div class="freshhone">
        <br />
        <h2>Fresh Fall Updates</h2>
      </div>
      <div class="freshimggp">
        <div class="fresimg">
          <img src="/assets/fresh-img1.jpg" alt="">
          <p class="freshsmtxt">Throw Pillows</p>
        </div>
        <div class="fresimg">
          <img src="/assets/fresh-img2.jpg" alt="">
          <p class="freshsmtxt">Rugs</p>
        </div>
        <div class="fresimg">
          <img src="/assets/fresh-img3.jpg" alt="">
          <p class="freshsmtxt">Wall Decor</p>
        </div>
        <div class="fresimg">
          <img src="/assets/fresh-img4.jpg" alt="">
          <p class="freshsmtxt">Kitchen</p>
        </div>
      </div>
    </section>
    <section class="christmas">
      <img src="/assets/discover.jpg" alt="">
      <div class="chriscnt">
        <h1>
          A VERY MERRY PREVIEW </h1>
        <p>Take a Sneak Peek at Our New Holiday Collection!</p>
        <button>SHOP NOW</button>
      </div>
    </section>
    <section class="intro">
      <div class="introcnt">
        <img src="/assets/shop-now-img1.jpg" alt="">
        <h3>Introducing Legami</h3>
        <p>Shop a cool selection of stationery and other fun finds from Italy!</p>
        <br />
        <a href="#">SHOP NOW</a>
      </div>
      <div class="introcnt">
        <img src="/assets//shop-now-img2.jpg" alt="">
        <h3>Deck Out Your Desk</h3>
        <p>Personalize your workspace with our great selection of office & desk decor.</p>
        <br />
        <a href="#">READ & SHOP</a>
      </div>
      <div class="introcnt">
        <img src="/assets/shop-now-img3.jpg" alt="">
        <h3>Introducing Pier Play</h3>
        <p>Discover a selection of Christmas favorites with a touch of glitz & glamour!</p>
        <br />
        <a href="#"> SHOP NOW</a>
      </div>
    </section>
    <section class="newteste">
      <div class="newtastegp">
        <img src="/assets/ger-recipes-img1.jpg" alt="">
        <h2>New Taste To Try</h2>
        <p>From Cocktails to Cake, We’ve Got Recipes for All Occasions</p>
        <button class="readbtn">GET RECIPES</button>
      </div>
      <div class="newtastegp">
        <img src="/assets/read-shop-img1.jpg" alt="">
        <h2>Wines That Give Back</h2>
        <p>Try Delicious Wines from Brands that Support Worthy Causes</p>
        <button class="readbtn">READ & SHOP</button>
      </div>
    </section>

    <section class="gallery">
      <img src="/assets/view-gal-img1.jpg" alt="">
      <div class="gallerygp">
        <h4>Snap. Share. Get Inspired! <a href="#" id="galleryanchlg">#WorldMarket</a></h4>
        <p>Add <a href="#" id="galleryanchsm">#WorldMarket</a> to any photo on Instagram for a chance to be featured
          here!</p>
        <button>SHOP GALLERY</button>
      </div>
    </section>
    <section class="lgtxt">
      <p>From furniture and accessories, to food and drink, our online assortment never falls short of authenticity or
        affordability. Browse our multicultural
        home decor pieces, find unique party favors and gifts, or simply peruse our diverse collection of specialty
        goods. Whether luxury or every day, our
        products offer premium quality and craftsmanship from sources all over the world. Buy a seagrass storage basket,
        handmade by artisans in the Philippines.
        Shop for robust Malbec wine, produced in the foothills of Mendoza, Argentina. Discover knick-knacks and objects
        of interest for sale -- countless styles
        from over fifty countries! Don't forget entertaining essentials, gourmet goodies, festive flair for the holiday
        season, and do-it-yourself crafts for the
        home design of your dreams. Every room, every theme, every season, every day, World Market
        offers the best furnishings. Eclectic and sophisticated, yet fun and fresh, our well-priced assortment keeps the
        options endless and entirely yours.</p>
    </section>

	 <section class="footerimg">
			<img src="/assets/footer-img1.png" alt="">
	 </section>
	  
	 <section class="footerimg">
			<img src="/assets/footer-img2.png" alt="">
	 </section>	
	