
		
		<section class="storeNav">
			<!-- <div> -->
			<ul>
			  <li style="display: inline-flex;">
				<p id="mystoretxt" style="font-weight: 700;">My Store:</p><select name="" id="mystore">
				  <option value="">Select Your Store</option>
				  <option value="">Nigeria</option>
				  <option value="">Nigeria</option>
				</select>
			  </li>
			</ul>
			<ul>
			    <li>
					<a href="/sign"><img src="/assets/contact-icon.png" alt=""> Sign In</a>
				  </li>
				  <li>
					<a href="#"><img src="/assets/whish-icon.png" alt=""> Wish List</a>
				  </li>
				  <li>
					<a href="#"><img src="/assets/cart-icon.png" alt=""> Cart</a>
				  </li>
			</ul>
			<!-- </div> -->
		  </section>
		  <section class="worldlogo">
			<div class="logo logup">
				<a href="/"><img src="/assets/logoWMK.png" alt="worldlogo"></a>  
			</div>
			<div class=" logup">
			  <input type="text" name="name" id="serachbox" placeholder="Discover Something..." onclick="widthLength()"
				onblur="widthLengthSm()">
			</div>
		  </section>
		  <section class="navDropD">
			<ul>
			  <li><a href="/furniture">Furniture</a></li>
			  <li><a href="/outdoors">Outdoors</a></li>
			  <li><a href="/rugs">Rugs</a></li>
			  <li><a href="#">Decor & Lighting</a></li>
			  <li><a href="#">Bed & Bath</a></li>
			  <li><a href="#">Kitchen & Dinnerware</a></li>
			  <li><a href="#">Food & Drink</a></li>
			  <li><a href="#">Furniture</a></li>
			  <li><a href="#">Jewelry & Clothing</a></li>
			  <li><a href="#">Gifts</a></li>
			  <li><a href="#">Holidays</a></li>
			  <li><a href="#">Sale</a></li>
			  <li><a href="#">Inspiration</a></li>
			</ul>
	  
		  </section>
		  <section class="navmem">
			<div>
			  <p id="mem">Members Save 15% On Curbside Pick-Up Orders</p>
			</div>
			<div class="memlink">
			  <a href="#">Jion Now</a> <a href="#">Details</a>
			</div>
		  </section>
		  <section class="bodycnt">
<div class="furnimenu">
<ul>
	<li id="furtxt"><a href="#" id="home">Home > </a>Outdoor</li>
	<li><a href="#">Outdoor Furniture</a></li>
	<li><a href="#">Outdoor Best Sellers</a></li>
	<li><a href="#">Shop All Outdoor</a></li>
	<li><a href="#">Outdoor Pillows & Cushions</a></li>
	<li><a href="#">Outdoor Rugs & Mats</a></li>
	<li><a href="#">Outdoor Planters & Garden Tools</a></li>
	<li><a href="#">New Outdoor</a></li>
	<li><a href="#">Outdoor Décor</a></li>
	<li><a href="#">Outdoor Dinnerware</a></li>
	<li><a href="#">Outdoor Lighting</a></li>
	<li><a href="#">BBQ & Grilling</a></li>
	<li><a href="#">Picnic Baskets & Coolers</a></li>
	<li><a href="#">Picnic Foods & Drink</a></li>
	<li><a href="#">Outdoor Toys & Games</a></li>
</ul>
</div>
<div class="furnipro">

	<div class="furnilgimg">
		<br/>
<h1>Furniture</h1>
<br/>
<img src="/assets/outdo-lg-img.jpg" alt="">

<p>Discover ways to make your balcony, backyard, porch or patio inviting all year long. Transform 
	your outdoor space into a relaxation or entertaining oasis with stylish, weather-resistant outdoor 
	furniture, stylish seating, and an array of unique decor and accent pieces.</p>
	</div>
	<div class="furniimgs">

     <div class="tbd">

  </div>
  <br>
  <hr>
  <section class="furniarticle">
	  <div class="furniarticleh1">
		  <br/>
<h1>Articles</h1>
	  </div>
	  <div class="furnigrid">

	 
<div class="furnishop">
<img src="/assets/outdo-article-img1.jpg" alt="">
<h2>Shop By Room: Outdoor</h2>
<p>Get inspired to make your deck, patio or backyard the place to be. World Market has tips for furnishing,
	 entertaining and making the most of your outdoor space!</p>
<a href="#">READ MORE</a>
</div>
<div class="furnishop">
	<img src="/assets/outdo-article-img2.jpg" alt="">
	<h2>Summer Living Guide</h2>
	<p>Get Outdoor Furniture and Decor inspiration, along with handy tips and recipes! </p>
	<a href="#">READ MORE</a>
	</div>
</div>
  </section>
	</div>
</div>
		  </section>
		  <section class="furnisld">
			<div class="furniarticleh1">
				<br/>
	  <h1>You May Also Like</h1>
			</div>
			<div id="carouselExampleCaptions" class="carousel slide sliderWidth" data-bs-ride="carousel">
				
				<div class="carousel-indicators">
				  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				  <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
				</div>
				<div class="carousel-inner sliderimggp">
					
				  <div class="carousel-item active ">
					  <div class="row">

					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="/assets//outdo-sld-img1.jpg" class="" alt="">
						<p py-2>Gray Audirondack Rocking Chair.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$129.99</p>

					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/outdo-sld-img2.jpg" class="" alt="">
						<p py-2>Natural Wood Audirondack Side Table.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.80</p>

					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/outdo-sld-img3.jpg" class="" alt="">
						<p py-2>Ceramic Sevilla Outdoor Planter.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.99</p>

					</div>
					
				  </div>
				</div>
				  <div class="carousel-item">
					  <div class="row">

					  
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/furni-sld-img3.jpg" class="" alt="">
						<p py-2>Natural Wood Audirondack Side Table.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.80</p>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/furni-sld-img2.jpg" class="" alt="">
						<p py-2>Ceramic Sevilla Outdoor Planter.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.99</p>
	
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/furni-sl-img1.jpg" class="" alt="">
						<p py-2>Gray Audirondack Rocking Chair.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$129.99</p>
	
					</div>

				  </div>
				</div>
				 
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Next</span>
				</button>
			  </div>
		  </section>
		  <section class="lgtxtfurni">
			<p>
				Step out into the great outdoors with our wide array of unique, high-quality outdoor furniture. Discover a selection of weather-resistant outdoor 
				furniture that allows you to sit back and relax all season long on your patio, porch or balcony. Explore well-crafted outdoor dining tables, chaise 
				loungers, Adirondack chairs, umbrellas and accent furniture to create the backyard oasis of your dreams. Learn how to take your entertaining to another
				 level with our selection of outdoor food and drink, and extend the fun with 
				outdoor games and everything you need for outdoor grilling to keep guests staying well into the evening.</p>
		  </section>
		  
		 
	
	 <section class="footerimg">
			<img src="/assets/footer-img1.png" alt="">
	 </section>
	  
	 <section class="footerimg">
			<img src="/assets/footer-img2.png" alt="">
	 </section>	
	