		
		<section class="storeNav">
			<!-- <div> -->
			<ul>
			  <li style="display: inline-flex;">
				<p id="mystoretxt" style="font-weight: 700;">My Store:</p><select name="" id="mystore">
				  <option value="">Select Your Store</option>
				  <option value="">Nigeria</option>
				  <option value="">Nigeria</option>
				</select>
			  </li>
			</ul>
			<ul>
			    <li>
					<a href="/sign"><img src="/assets/contact-icon.png" alt=""> Sign In</a>
				  </li>
				  <li>
					<a href="#"><img src="/assets/whish-icon.png" alt=""> Wish List</a>
				  </li>
				  <li>
					<a href="#"><img src="/assets/cart-icon.png" alt=""> Cart</a>
				  </li>
			</ul>
			<!-- </div> -->
		  </section>
		  <section class="worldlogo">
			<div class="logo logup">
				<a href="/"><img src="/assets/logoWMK.png" alt="worldlogo"></a>  
			</div>
			<div class=" logup">
			  <input type="text" name="name" id="serachbox" placeholder="Discover Something..." onclick="widthLength()"
				onblur="widthLengthSm()">
			</div>
		  </section>
		  <section class="navDropD">
			<ul>
			  <li><a href="/furniture">Furniture</a></li>
			  <li><a href="/outdoors">Outdoors</a></li>
			  <li><a href="/rugs">Rugs</a></li>
			  <li><a href="#">Decor & Lighting</a></li>
			  <li><a href="#">Bed & Bath</a></li>
			  <li><a href="#">Kitchen & Dinnerware</a></li>
			  <li><a href="#">Food & Drink</a></li>
			  <li><a href="#">Furniture</a></li>
			  <li><a href="#">Jewelry & Clothing</a></li>
			  <li><a href="#">Gifts</a></li>
			  <li><a href="#">Holidays</a></li>
			  <li><a href="#">Sale</a></li>
			  <li><a href="#">Inspiration</a></li>
			</ul>
	  
		  </section>
		  <section class="navmem">
			<div>
			  <p id="mem">Members Save 15% On Curbside Pick-Up Orders</p>
			</div>
			<div class="memlink">
			  <a href="#">Jion Now</a> <a href="#">Details</a>
			</div>
		  </section>
		  <section class="bodycnt">
<div class="furnimenu">
<ul>
	<li id="furtxt"><a href="#" id="home">Home > </a>Rugs</li>
	<li><a href="#">8' X 10' Area Rugs</a></li>
	<li><a href="#">Shop All Rugs</a></li>
	<li><a href="#">Large Area Rugs</a></li>
	<li><a href="#">5' X 8' Area Rugs</a></li>
	<li><a href="#">6' X 9' Area Rugs</a></li>
	<li><a href="#">Rugs Best Sellers</a></li>
	<li><a href="#">Floor Runners</a></li>
	<li><a href="#">Area Rugs</a></li>
	<li><a href="#">Indoor/Outdoor Rugs</a></li>
	<li><a href="#">Kitchen Rugs</a></li>
	<li><a href="#">Kids Rugs</a></li>
	<li><a href="#">4' X 6' Area Rugs</a></li>
	<li><a href="#">3' X 5' Area Rugs</a></li>
	<li><a href="#">Natural Fiber Rugs</a></li>
	<li><a href="#">Doormats</a></li>
	<li><a href="#">New Rugs</a></li>
	<li><a href="#">Wool Rugs</a></li>
	<li><a href="#">Kilim Rugs</a></li>
	<li><a href="#">Outdoor Rugs</a></li>

</ul>
</div>
<div class="furnipro">

	<div class="furnilgimg">
		<br/>
<h1>Rugs</h1>
<br/>
<img src="/assets/rugs-lg-img.jpg" alt="">

<p>Discover a gorgeous selection of indoor and outdoor area rugs at World Market. From natural fibers to waterproof weaves,
 you can make your home a style haven affordably with our chic handmade rugs.</p>
	</div>
	<div class="furniimgs">

     <div class="tbx">

  </div>
  <br>
  <hr>
  <section class="furniarticle">
	  <div class="furniarticleh1">
		  <br/>
<h1>Articles</h1>
	  </div>
	  <div class="furnigrid">

	 
<div class="furnishop">
<img src="/assets/outdo-article-img1.jpg" alt="">
<h2>1 Room, 3 Rug Style</h2>
<p>Learn how your choice of rug can change the entire look of a room and its decor</p>
<a href="#">READ MORE</a>
</div>
<div class="furnishop">
	<img src="/assets/outdo-article-img2.jpg" alt="">
	<h2>Choose the Right Rug</h2>
	<p>Get Rugs  and Decor inspiration, along with handy tips and recipes! </p>
	<a href="#">READ MORE</a>
	</div>
</div>
  </section>
	</div>
</div>
		  </section>
		  <section class="furnisld">
			<div class="furniarticleh1">
				<br/>
	  <h1>You May Also Like</h1>
			</div>
			<div id="carouselExampleCaptions" class="carousel slide sliderWidth" data-bs-ride="carousel">
				
				<div class="carousel-indicators">
				  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
				  <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
				</div>
				<div class="carousel-inner sliderimggp">
					
				  <div class="carousel-item active ">
					  <div class="row">

					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="/assets/rugs-img1.jpg" class="" alt="">
						<p py-2>Gray Audirondack Rocking Rugs.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$129.99</p>

					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/rugs-img2.jpg" class="" alt="">
						<p py-2>Natural Wood Audirondack Side Rugs.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.80</p>

					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/rugs-img3.jpg" class="" alt="">
						<p py-2>Ceramic Sevilla Rugs Colorful.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.99</p>

					</div>
					
				  </div>
				</div>
				  <div class="carousel-item">
					  <div class="row">

					  
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/rugs-img2.jpg" class="" alt="">
						<p py-2>Natural Wood Audirondack Side Rugs.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.80</p>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="assets/rugs-img3.jpg" class="" alt="">
						<p py-2>Ceramic Sevilla Rugs Colorful.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$149.99</p>
	
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 p-md-2 p-sm-3 sliderimg">
						<img src="/assets/rugs-img1.jpg" class="" alt="">
						<p py-2>Gray Audirondack Rocking Rugs.</p>
						<p py-2 style="color: rgb(177, 17, 17);">$129.99</p>
	
					</div>

				  </div>
				</div>
				 
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Next</span>
				</button>
			  </div>
		  </section>
		  <section class="lgtxtfurni">
			<p>
				If you need to bring some new style and color to your home, the easiest way is with your floor. Rugs can add 
				new life to your house, with a variety of sizes, styles and materials. World Market has a wide array of Rugs
				 for your unique home.

</p>
		  </section>
		  
		
	 <section class="footerimg">
			<img src="/assets/footer-img1.png" alt="">
	 </section>
	  
	 <section class="footerimg">
			<img src="/assets/footer-img2.png" alt="">
	 </section>	
	
	