

<main class="signcontainer">
    <section class="sglogImg">
<div>
  <a href="/"> <img src="/assets/logoWMK.png" alt=""/></a> 
</div>
<br>
<hr/>
    </section>
    <section class="signbody">

    <section class="comprf">
<p>Did you sign-up via SMS or with an associate in-store?</p>
<a href="#">Complete your profile</a>
    </section>

    <section class="sigjon">
        <a href="#" id="btnsignin">SIGN IN</a>|<a href="#" id="btnsignup"> JION</a>
    </section>
<main class="wrapper">

    <section class="sigupInput" id="joinbody">
        <br>
<div class="inputfname">
    <input type="text" name="fname" placeholder="* First Name"/>
    <input type="text" name="lname" placeholder="* Last Name"/>
</div>
<div class="inputpass">
    <input id="sgnin" type="text" name="email" placeholder="* Email address">
<input id="sgnin" type="password" name="password" placeholder="* Password (min 6 characters)" />
<input id="sgnin" type="number" name="number" placeholder="* 10-digit Member ID (like a phone number)">

</div>
<div class="inputbirt">
<p><img src="/assets/crown-img.png" alt=""/>  Enter your birthdate to receive a free gift every year (optional)</p>
<div class="ml-bIcon"></div>
<select name="month" id="">
    <option value="#">Month</option>
    <option value="1">January</option>
    <option value="2">Febuary</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="1">November</option>
    <option value="12">December</option>

</select>
<select name="days" id="">
    <option value="#">Day</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="1">11</option>
    <option value="12">12</option>
</select>
</div>
<div class="likeEml">
<div class="checkopt">
    <input type="checkbox"><p>Yes, I’d like email from World Market.</p>
</div>
<div class="checkopt">
    <input type="checkbox"><p>Yes! Send me exclusive text rewards.</p>
</div>
<p id="signsmltxt">Could not connect to the reCAPTCHA service. Please check your internet 
    connection and reload to get a reCAPTCHA challenge.</p>
</div>

<div class="signzipcode">
    <input type="number" name="zipcode" placeholder="* Zip Code - to get local store offers">
</div>

<div class="signterms">
    <input type="checkbox"><p>I accept the program <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
</div>
<div>
    <button class="btnsignup">JION NOW</button>
</div>
<br><br><br>
    </section>
    <section class="signupInput" id="bodynsignin">
<div class="siginInput">
    <input type="text" id="sgnin"  name="email" placeholder="* Email address">
    <input type="text" id="sgnin"  name="password" placeholder="* Password ">

</div>
<div class="signinrem">
    <div class="checkopt">
        <input type="checkbox"><p>Keep me signed in.</p>
    </div>
    <div class="signterms">
        <a href="#">Forget Password</a>
    </div>
</div>
<div class="tinytxt">
<p id="signsmltxt">By checking this box you won't have to sign in as often on this device. For your security, we recommend only checking this box on your personal devices.</p>
</div>
<div>
    <button class="btnsignup">JION NOW</button>
</div>
<br><br>
    </section>
</main>
</section>
</main>   

